@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a.btn {
    text-align: center;
    vertical-align: center;
    display: inline-block;
    background: #252423;
    border: 2px solid #30FFFF;
    border-radius: 38px;
    padding: 20px 36px;
    width: 240px;
    color: #30FFFF;
  }
}

html {
  font-size: 24px;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  background-color: #252423;

}